In [1]:
import pandas as pd
mise=pd.read_csv('미세먼지.csv')

In [5]:
no_df=pd.DataFrame()
no_df['date']=no_date.keys()

In [6]:
no_df.head()

       date
0  20180217
1  20180321
2  20180322
3  20180323
4  20180324

In [7]:
len(no_df)

56

In [8]:
jong_df=pd.DataFrame()
jong_df['date']=jong_date.keys()

In [9]:
jong_df.head()

       date
0  20180217
1  20180321
2  20180322
3  20180323
4  20180324

In [10]:
no_date_list=list(no_date.values())

In [11]:
jong_df['jong_pm10']=0

for i in range(len(no_date_list)): #미세
    jong_df['jong_pm10'][i]=no_date_list[i][0]

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [12]:
jong_df['jong_pm2.5']=0
for i in range(len(no_date_list)): #초미세
    jong_df['jong_pm2.5'][i]=no_date_list[i][1]

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
no_df['no_pm10']=0
for i in range(len(no_date_list)):
    no_df['no_pm10'][i]=no_date_list[i][0]

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
no_df['no_pm2.5']=0
for i in range(len(no_date_list)):
    no_df['no_pm2.5'][i]=no_date_list[i][1]

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
jong_df.head()

       date  jong_pm10  jong_pm2.5
0  20180217         47          12
1  20180321         17           7
2  20180322         44          25
3  20180323         75          51
4  20180324        115          84

In [16]:
len(jong_df)

56

In [17]:
no_df.head()

       date  no_pm10  no_pm2.5
0  20180217       47        12
1  20180321       17         7
2  20180322       44        25
3  20180323       75        51
4  20180324      115        84

### 종로,노원 합치기

In [18]:
jono_m=pd.DataFrame()
jono_m=pd.merge(jong_df,no_df,how='outer',on='date')

In [19]:
jono_m['avg_pm10']=jono_m.mean(axis=1)

In [20]:
jono_m.head()

       date  jong_pm10  jong_pm2.5  no_pm10  no_pm2.5  avg_pm10
0  20180217         47          12       47        12      29.5
1  20180321         17           7       17         7      12.0
2  20180322         44          25       44        25      34.5
3  20180323         75          51       75        51      63.0
4  20180324        115          84      115        84      99.5

In [21]:
jono_m=jono_m.drop('jong_pm2.5',axis=1).drop('no_pm2.5',axis=1)

In [22]:
jono_m.head()

       date  jong_pm10  no_pm10  avg_pm10
0  20180217         47       47      29.5
1  20180321         17       17      12.0
2  20180322         44       44      34.5
3  20180323         75       75      63.0
4  20180324        115      115      99.5

### 라벨링 메기기

In [81]:
def Mi_Label(df,pm):#미세먼지
    df['label_pm10']=0
    #df['label_pm2.5']=0
    
    df['label_pm10'][df[pm]<= 30]=1

    #df['label_pm2.5'][df['pm2.5']<= 15]=1

    df['label_pm10'][(df[pm]<= 80) & (df[pm]>=31)]=0
    #df['label_pm2.5'][(df['pm2.5']<= 35) & (data['pm2.5']>=16)]=0

    df['label_pm10'][df[pm]>= 81]=-1
    #df['label_pm2.5'][df['pm2.5']>= 36]=-1
    return df

In [84]:
Mi_Label(jono_m,'avg_pm10')

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

          date  jong_pm10  no_pm10  avg_pm10  label_pm10
0   2018-02-17         47       47      29.5           1
1   2018-03-21         17       17      12.0           1
2   2018-03-22         44       44      34.5           0
3   2018-03-23         75       75      63.0           0
4   2018-03-24        115      115      99.5          -1
5   2018-03-25        115      115     102.0          -1
6   2018-03-26        104      104      86.5          -1
7   2018-03-27         89       89      70.5           0
8   2018-03-28         59       59      48.0           0
9   2018-03-29         60       60      48.5           0
10  2018-03-30         59       59      45.0           0
11  2018-03-31         57       57      43.0           0
12  2018-04-01         65       65      48.5           0
13  2018-04-02         66       66      46.0           0
14  2018-04-03         64       64      42.0           0
15  2018-04-04         13       13       9.5           1
16  2018-04-05          8        8       6.0           1
17  2018-04-06        115      115      69.5           0
18  2018-04-07         48       48      35.5           0
19  2018-04-08         29       29      21.5           1
20  2018-04-20         94       94      70.0           0
21  2018-05-18         13       13       8.5           1
22  2018-05-19         12       12       8.0           1
23  2018-05-22         37       37      29.0           1
24  2018-05-23         41       41      24.5           1
25  2018-05-24         86       86      53.5           0
26  2018-05-25         83       83      55.5           0
27  2018-05-26         66       66      47.5           0
28  2018-05-29         38       38      30.0           1
29  2018-05-30         40       40      29.0           1
30  2018-05-31         35       35      26.0           1
31  2018-06-03         30       30      23.5           1
32  2018-06-06         42       42      34.5           0
33  2018-06-07         40       40      32.5           0
34  2018-06-08         32       32      25.5           1
35  2018-06-09         31       31      24.5           1
36  2018-06-10          9        9       6.5           1
37  2018-06-11         12       12       8.0           1
38  2018-06-12         16       16      11.5           1
39  2018-06-13         28       28      22.5           1
40  2018-06-14         28       28      22.5           1
41  2018-06-15         15       15      10.5           1
42  2018-06-16         19       19      14.5           1
43  2018-06-17         40       40      31.5           0
44  2018-06-18         40       40      32.5           0
45  2018-06-19         39       39      32.0           0
46  2018-06-20         38       38      32.0           0
47  2018-06-21         32       32      25.5           1
48  2018-06-23         38       38      29.5           1
49  2018-06-24         55       55      44.5           0
50  2018-06-25         50       50      41.0           0
51  2018-06-27         28       28      23.0           1
52  2018-06-28         25       25      19.5           1
53  2018-06-29         36       36      29.0           1
54  2018-07-04         20       20      17.0           1
55  2018-07-05         20       20      17.0           1

In [82]:
def Cho_Label(df,pm):#초미세먼지
#    df['label_pm10']=0
    df['label_pm2.5']=0
    
 #   df['label_pm10'][df['pm10']<= 30]=1

    df['label_pm2.5'][df[pm]<= 15]=1

  #  df['label_pm10'][(df['pm10']<= 80) & (data['pm10']>=31)]=0
    df['label_pm2.5'][(df[pm]<= 35) & (df[pm]>=16)]=0

   # df['label_pm10'][df['pm10']>= 81]=-1
    df['label_pm2.5'][df[pm]>= 36]=-1
    return df

In [87]:
Cho_Label(jono_c,'avg_pm2.5')

C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Jungsk\AppData\Local\conda\conda\envs\study\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

          date  jong_pm2.5  no_pm2.5  avg_pm2.5  label_pm2.5
0   2018-02-17          12        12       29.5            0
1   2018-03-21           7         7       12.0            1
2   2018-03-22          25        25       34.5            0
3   2018-03-23          51        51       63.0           -1
4   2018-03-24          84        84       99.5           -1
5   2018-03-25          89        89      102.0           -1
6   2018-03-26          69        69       86.5           -1
7   2018-03-27          52        52       70.5           -1
8   2018-03-28          37        37       48.0           -1
9   2018-03-29          37        37       48.5           -1
10  2018-03-30          31        31       45.0           -1
11  2018-03-31          29        29       43.0           -1
12  2018-04-01          32        32       48.5           -1
13  2018-04-02          26        26       46.0           -1
14  2018-04-03          20        20       42.0           -1
15  2018-04-04           6         6        9.5            1
16  2018-04-05           4         4        6.0            1
17  2018-04-06          24        24       69.5           -1
18  2018-04-07          23        23       35.5            0
19  2018-04-08          14        14       21.5            0
20  2018-04-20          46        46       70.0           -1
21  2018-05-18           4         4        8.5            1
22  2018-05-19           4         4        8.0            1
23  2018-05-22          21        21       29.0            0
24  2018-05-23           8         8       24.5            0
25  2018-05-24          21        21       53.5           -1
26  2018-05-25          28        28       55.5           -1
27  2018-05-26          29        29       47.5           -1
28  2018-05-29          22        22       30.0            0
29  2018-05-30          18        18       29.0            0
30  2018-05-31          17        17       26.0            0
31  2018-06-03          17        17       23.5            0
32  2018-06-06          27        27       34.5            0
33  2018-06-07          25        25       32.5            0
34  2018-06-08          19        19       25.5            0
35  2018-06-09          18        18       24.5            0
36  2018-06-10           4         4        6.5            1
37  2018-06-11           4         4        8.0            1
38  2018-06-12           7         7       11.5            1
39  2018-06-13          17        17       22.5            0
40  2018-06-14          17        17       22.5            0
41  2018-06-15           6         6       10.5            1
42  2018-06-16          10        10       14.5            1
43  2018-06-17          23        23       31.5            0
44  2018-06-18          25        25       32.5            0
45  2018-06-19          25        25       32.0            0
46  2018-06-20          26        26       32.0            0
47  2018-06-21          19        19       25.5            0
48  2018-06-23          21        21       29.5            0
49  2018-06-24          34        34       44.5           -1
50  2018-06-25          32        32       41.0           -1
51  2018-06-27          18        18       23.0            0
52  2018-06-28          14        14       19.5            0
53  2018-06-29          22        22       29.0            0
54  2018-07-04          14        14       17.0            0
55  2018-07-05          14        14       17.0            0

In [23]:
jono_c=pd.DataFrame()
jono_c=pd.merge(jong_df,no_df,how='outer',on='date')

In [24]:
jono_c['avg_pm2.5']=jono_c.mean(axis=1)

In [25]:
jono_c.head()

       date  jong_pm10  jong_pm2.5  no_pm10  no_pm2.5  avg_pm2.5
0  20180217         47          12       47        12       29.5
1  20180321         17           7       17         7       12.0
2  20180322         44          25       44        25       34.5
3  20180323         75          51       75        51       63.0
4  20180324        115          84      115        84       99.5

In [26]:
jono_c=jono_c.drop('jong_pm10',axis=1).drop('no_pm10',axis=1)

In [27]:
jono_c.head()

       date  jong_pm2.5  no_pm2.5  avg_pm2.5
0  20180217          12        12       29.5
1  20180321           7         7       12.0
2  20180322          25        25       34.5
3  20180323          51        51       63.0
4  20180324          84        84       99.5

In [28]:
import datetime
cal=pd.Series(pd.date_range(start='2018-01-01',end='2018-12-31',freq='D'))
Cal=pd.DataFrame()
Cal['date']=cal
Cal.head()

        date
0 2018-01-01
1 2018-01-02
2 2018-01-03
3 2018-01-04
4 2018-01-05

In [30]:
len(Cal)

365

In [29]:
type(Cal['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

## Timestamp 에서 date time 으로 바꿔준다.

In [31]:

from datetime import datetime
import time
dt=[]
dt_l=[]
#timestamp=time.time()
timestamp=cal
#s=str(timestamp)

for i in range(len(cal)):
    s=str(timestamp[i])
    dt=datetime.strptime(s,'%Y-%m-%d %H:%M:%S')
    Cal['date'][i]=dt
    dt_l.append(dt)
    print(type(dt))

<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>

In [32]:
len(Cal)

365

In [33]:
dt

datetime.datetime(2018, 12, 31, 0, 0)

In [34]:
import datetime
jono_m['date']=pd.to_datetime(jono_m['date'])
jono_c['date']=pd.to_datetime(jono_c['date'])

In [35]:
mi=pd.read_csv('미세먼지.csv')
cho=pd.read_csv('초미세먼지.csv')

In [36]:
len(mi)

309

In [37]:
mi.head()

       date  no_pm10  jong_pm10   avg  label_pm10
0  20180101     42.0       34.0  38.0           0
1  20180102     41.0       36.0  38.5           0
2  20180103     36.0       31.0  33.5           0
3  20180104     47.0       39.0  43.0           0
4  20180105     63.0       51.0  57.0           0

In [38]:
mi=mi.rename(columns={'avg':'avg_pm10'})

In [39]:
mi.rename(columns={'avg':'avg_pm10'},inplace=True)
cho.rename(columns={'avg':'avg_pm2.5'},inplace=True)

In [41]:
mi.head()

       date  no_pm10  jong_pm10  avg_pm10  label_pm10
0  20180101     42.0       34.0      38.0           0
1  20180102     41.0       36.0      38.5           0
2  20180103     36.0       31.0      33.5           0
3  20180104     47.0       39.0      43.0           0
4  20180105     63.0       51.0      57.0           0

In [40]:
len(mi)

309

In [42]:
def int_to_date_format(d):

    import datetime

    yyyy = int(d[0:4])

    mm = int(d[4:6])

    dd = int(d[6:8])

    this_date = datetime.date(yyyy, mm, dd)

    return this_date

In [43]:
def date_dot_format(d):

    import datetime

#   d = str(d).replace('-', '.')


    yyyy = int(d.split('.')[0])

    mm = int(d.split('.')[1])

    dd = int(d.split('.')[2])


    this_date = datetime.date(yyyy, mm, dd)

    return this_date

In [44]:
Cal['date']=pd.to_datetime(Cal['date'],format(''))

In [45]:
Cal['date']

0     2018-01-01
1     2018-01-02
2     2018-01-03
3     2018-01-04
4     2018-01-05
5     2018-01-06
6     2018-01-07
7     2018-01-08
8     2018-01-09
9     2018-01-10
10    2018-01-11
11    2018-01-12
12    2018-01-13
13    2018-01-14
14    2018-01-15
15    2018-01-16
16    2018-01-17
17    2018-01-18
18    2018-01-19
19    2018-01-20
20    2018-01-21
21    2018-01-22
22    2018-01-23
23    2018-01-24
24    2018-01-25
25    2018-01-26
26    2018-01-27
27    2018-01-28
28    2018-01-29
29    2018-01-30
         ...
335   2018-12-02
336   2018-12-03
337   2018-12-04
338   2018-12-05
339   2018-12-06
340   2018-12-07
341   2018-12-08
342   2018-12-09
343   2018-12-10
344   2018-12-11
345   2018-12-12
346   2018-12-13
347   2018-12-14
348   2018-12-15
349   2018-12-16
350   2018-12-17
351   2018-12-18
352   2018-12-19
353   2018-12-20
354   2018-12-21
355   2018-12-22
356   2018-12-23
357   2018-12-24
358   2018-12-25
359   2018-12-26
360   2018-12-27
361   2018-12-28
362   2018-12-29
363   2018-12-30
364   2018-12-31
Name: date, Length: 365, dtype: datetime64[ns]

In [46]:
import datetime
c_date=[]
test_date=list(no_date.keys())
for i in range(len(no_date)):
    c_date.append(datetime.datetime.strptime(test_date[i],"%Y%m%d").date())

In [47]:
len(c_date)

56

In [48]:
c_date

[datetime.date(2018, 2, 17),
 datetime.date(2018, 3, 21),
 datetime.date(2018, 3, 22),
 datetime.date(2018, 3, 23),
 datetime.date(2018, 3, 24),
 datetime.date(2018, 3, 25),
 datetime.date(2018, 3, 26),
 datetime.date(2018, 3, 27),
 datetime.date(2018, 3, 28),
 datetime.date(2018, 3, 29),
 datetime.date(2018, 3, 30),
 datetime.date(2018, 3, 31),
 datetime.date(2018, 4, 1),
 datetime.date(2018, 4, 2),
 datetime.date(2018, 4, 3),
 datetime.date(2018, 4, 4),
 datetime.date(2018, 4, 5),
 datetime.date(2018, 4, 6),
 datetime.date(2018, 4, 7),
 datetime.date(2018, 4, 8),
 datetime.date(2018, 4, 20),
 datetime.date(2018, 5, 18),
 datetime.date(2018, 5, 19),
 datetime.date(2018, 5, 22),
 datetime.date(2018, 5, 23),
 datetime.date(2018, 5, 24),
 datetime.date(2018, 5, 25),
 datetime.date(2018, 5, 26),
 datetime.date(2018, 5, 29),
 datetime.date(2018, 5, 30),
 datetime.date(2018, 5, 31),
 datetime.date(2018, 6, 3),
 datetime.date(2018, 6, 6),
 datetime.date(2018, 6, 7),
 datetime.date(2018, 6, 8),
 datetime.date(2018, 6, 9),
 datetime.date(2018, 6, 10),
 datetime.date(2018, 6, 11),
 datetime.date(2018, 6, 12),
 datetime.date(2018, 6, 13),
 datetime.date(2018, 6, 14),
 datetime.date(2018, 6, 15),
 datetime.date(2018, 6, 16),
 datetime.date(2018, 6, 17),
 datetime.date(2018, 6, 18),
 datetime.date(2018, 6, 19),
 datetime.date(2018, 6, 20),
 datetime.date(2018, 6, 21),
 datetime.date(2018, 6, 23),
 datetime.date(2018, 6, 24),
 datetime.date(2018, 6, 25),
 datetime.date(2018, 6, 27),
 datetime.date(2018, 6, 28),
 datetime.date(2018, 6, 29),
 datetime.date(2018, 7, 4),
 datetime.date(2018, 7, 5)]

In [55]:
cc_date=mi['date'].tolist()

In [59]:
cc_date[0]

20180101

In [ ]:
def to_datetime(df_time):
    str_t=df_time[i]
    str_t[:4]

In [57]:
len(cc_date)

309

In [61]:
type(cc_date)

list

In [62]:
import datetime
_date=[]
test_date=cc_date
for i in range(len(cc_date)):
    _date.append(datetime.datetime.strptime(str(test_date[i]),"%Y%m%d").date())

In [63]:
_date

[datetime.date(2018, 1, 1),
 datetime.date(2018, 1, 2),
 datetime.date(2018, 1, 3),
 datetime.date(2018, 1, 4),
 datetime.date(2018, 1, 5),
 datetime.date(2018, 1, 6),
 datetime.date(2018, 1, 7),
 datetime.date(2018, 1, 8),
 datetime.date(2018, 1, 9),
 datetime.date(2018, 1, 10),
 datetime.date(2018, 1, 11),
 datetime.date(2018, 1, 12),
 datetime.date(2018, 1, 13),
 datetime.date(2018, 1, 14),
 datetime.date(2018, 1, 15),
 datetime.date(2018, 1, 16),
 datetime.date(2018, 1, 17),
 datetime.date(2018, 1, 18),
 datetime.date(2018, 1, 19),
 datetime.date(2018, 1, 20),
 datetime.date(2018, 1, 21),
 datetime.date(2018, 1, 22),
 datetime.date(2018, 1, 23),
 datetime.date(2018, 1, 24),
 datetime.date(2018, 1, 25),
 datetime.date(2018, 1, 26),
 datetime.date(2018, 1, 27),
 datetime.date(2018, 1, 28),
 datetime.date(2018, 1, 29),
 datetime.date(2018, 1, 30),
 datetime.date(2018, 1, 31),
 datetime.date(2018, 2, 1),
 datetime.date(2018, 2, 2),
 datetime.date(2018, 2, 3),
 datetime.date(2018, 2, 4),
 datetime.date(2018, 2, 5),
 datetime.date(2018, 2, 6),
 datetime.date(2018, 2, 7),
 datetime.date(2018, 2, 8),
 datetime.date(2018, 2, 9),
 datetime.date(2018, 2, 10),
 datetime.date(2018, 2, 11),
 datetime.date(2018, 2, 12),
 datetime.date(2018, 2, 13),
 datetime.date(2018, 2, 14),
 datetime.date(2018, 2, 15),
 datetime.date(2018, 2, 16),
 datetime.date(2018, 2, 18),
 datetime.date(2018, 2, 19),
 datetime.date(2018, 2, 20),
 datetime.date(2018, 2, 21),
 datetime.date(2018, 2, 22),
 datetime.date(2018, 2, 23),
 datetime.date(2018, 2, 24),
 datetime.date(2018, 2, 25),
 datetime.date(2018, 2, 26),
 datetime.date(2018, 2, 27),
 datetime.date(2018, 2, 28),
 datetime.date(2018, 3, 1),
 datetime.date(2018, 3, 2),
 datetime.date(2018, 3, 3),
 datetime.date(2018, 3, 4),
 datetime.date(2018, 3, 5),
 datetime.date(2018, 3, 6),
 datetime.date(2018, 3, 7),
 datetime.date(2018, 3, 8),
 datetime.date(2018, 3, 9),
 datetime.date(2018, 3, 10),
 datetime.date(2018, 3, 11),
 datetime.date(2018, 3, 12),
 datetime.date(2018, 3, 13),
 datetime.date(2018, 3, 14),
 datetime.date(2018, 3, 15),
 datetime.date(2018, 3, 16),
 datetime.date(2018, 3, 17),
 datetime.date(2018, 3, 18),
 datetime.date(2018, 3, 19),
 datetime.date(2018, 3, 20),
 datetime.date(2018, 4, 9),
 datetime.date(2018, 4, 10),
 datetime.date(2018, 4, 11),
 datetime.date(2018, 4, 12),
 datetime.date(2018, 4, 13),
 datetime.date(2018, 4, 14),
 datetime.date(2018, 4, 15),
 datetime.date(2018, 4, 16),
 datetime.date(2018, 4, 17),
 datetime.date(2018, 4, 18),
 datetime.date(2018, 4, 19),
 datetime.date(2018, 4, 21),
 datetime.date(2018, 4, 22),
 datetime.date(2018, 4, 23),
 datetime.date(2018, 4, 24),
 datetime.date(2018, 4, 25),
 datetime.date(2018, 4, 26),
 datetime.date(2018, 4, 27),
 datetime.date(2018, 4, 28),
 datetime.date(2018, 4, 29),
 datetime.date(2018, 4, 30),
 datetime.date(2018, 5, 1),
 datetime.date(2018, 5, 2),
 datetime.date(2018, 5, 3),
 datetime.date(2018, 5, 4),
 datetime.date(2018, 5, 5),
 datetime.date(2018, 5, 6),
 datetime.date(2018, 5, 7),
 datetime.date(2018, 5, 8),
 datetime.date(2018, 5, 9),
 datetime.date(2018, 5, 10),
 datetime.date(2018, 5, 11),
 datetime.date(2018, 5, 12),
 datetime.date(2018, 5, 13),
 datetime.date(2018, 5, 14),
 datetime.date(2018, 5, 15),
 datetime.date(2018, 5, 16),
 datetime.date(2018, 5, 17),
 datetime.date(2018, 5, 20),
 datetime.date(2018, 5, 21),
 datetime.date(2018, 5, 27),
 datetime.date(2018, 5, 28),
 datetime.date(2018, 6, 1),
 datetime.date(2018, 6, 2),
 datetime.date(2018, 6, 4),
 datetime.date(2018, 6, 5),
 datetime.date(2018, 6, 22),
 datetime.date(2018, 6, 26),
 datetime.date(2018, 6, 30),
 datetime.date(2018, 7, 1),
 datetime.date(2018, 7, 2),
 datetime.date(2018, 7, 3),
 datetime.date(2018, 7, 6),
 datetime.date(2018, 7, 7),
 datetime.date(2018, 7, 8),
 datetime.date(2018, 7, 9),
 datetime.date(2018, 7, 10),
 datetime.date(2018, 7, 11),
 datetime.date(2018, 7, 12),
 datetime.date(2018, 7, 13),
 datetime.date(2018, 7, 14),
 datetime.date(2018, 7, 15),
 datetime.date(2018, 7, 16),
 datetime.date(2018, 7, 17),
 datetime.date(2018, 7, 18),
 datetime.date(2018, 7, 19),
 datetime.date(2018, 7, 20),
 datetime.date(2018, 7, 21),
 datetime.date(2018, 7, 22),
 datetime.date(2018, 7, 23),
 datetime.date(2018, 7, 24),
 datetime.date(2018, 7, 25),
 datetime.date(2018, 7, 26),
 datetime.date(2018, 7, 27),
 datetime.date(2018, 7, 28),
 datetime.date(2018, 7, 29),
 datetime.date(2018, 7, 30),
 datetime.date(2018, 7, 31),
 datetime.date(2018, 8, 1),
 datetime.date(2018, 8, 2),
 datetime.date(2018, 8, 3),
 datetime.date(2018, 8, 4),
 datetime.date(2018, 8, 5),
 datetime.date(2018, 8, 6),
 datetime.date(2018, 8, 7),
 datetime.date(2018, 8, 8),
 datetime.date(2018, 8, 9),
 datetime.date(2018, 8, 10),
 datetime.date(2018, 8, 11),
 datetime.date(2018, 8, 12),
 datetime.date(2018, 8, 13),
 datetime.date(2018, 8, 14),
 datetime.date(2018, 8, 15),
 datetime.date(2018, 8, 16),
 datetime.date(2018, 8, 17),
 datetime.date(2018, 8, 18),
 datetime.date(2018, 8, 19),
 datetime.date(2018, 8, 20),
 datetime.date(2018, 8, 21),
 datetime.date(2018, 8, 22),
 datetime.date(2018, 8, 23),
 datetime.date(2018, 8, 24),
 datetime.date(2018, 8, 25),
 datetime.date(2018, 8, 26),
 datetime.date(2018, 8, 27),
 datetime.date(2018, 8, 28),
 datetime.date(2018, 8, 29),
 datetime.date(2018, 8, 30),
 datetime.date(2018, 8, 31),
 datetime.date(2018, 9, 1),
 datetime.date(2018, 9, 2),
 datetime.date(2018, 9, 3),
 datetime.date(2018, 9, 4),
 datetime.date(2018, 9, 5),
 datetime.date(2018, 9, 6),
 datetime.date(2018, 9, 7),
 datetime.date(2018, 9, 8),
 datetime.date(2018, 9, 9),
 datetime.date(2018, 9, 10),
 datetime.date(2018, 9, 11),
 datetime.date(2018, 9, 12),
 datetime.date(2018, 9, 13),
 datetime.date(2018, 9, 14),
 datetime.date(2018, 9, 15),
 datetime.date(2018, 9, 16),
 datetime.date(2018, 9, 17),
 datetime.date(2018, 9, 18),
 datetime.date(2018, 9, 19),
 datetime.date(2018, 9, 20),
 datetime.date(2018, 9, 21),
 datetime.date(2018, 9, 22),
 datetime.date(2018, 9, 23),
 datetime.date(2018, 9, 24),
 datetime.date(2018, 9, 25),
 datetime.date(2018, 9, 26),
 datetime.date(2018, 9, 27),
 datetime.date(2018, 9, 28),
 datetime.date(2018, 9, 29),
 datetime.date(2018, 9, 30),
 datetime.date(2018, 10, 1),
 datetime.date(2018, 10, 2),
 datetime.date(2018, 10, 3),
 datetime.date(2018, 10, 4),
 datetime.date(2018, 10, 5),
 datetime.date(2018, 10, 6),
 datetime.date(2018, 10, 7),
 datetime.date(2018, 10, 8),
 datetime.date(2018, 10, 9),
 datetime.date(2018, 10, 10),
 datetime.date(2018, 10, 11),
 datetime.date(2018, 10, 12),
 datetime.date(2018, 10, 13),
 datetime.date(2018, 10, 14),
 datetime.date(2018, 10, 15),
 datetime.date(2018, 10, 16),
 datetime.date(2018, 10, 17),
 datetime.date(2018, 10, 18),
 datetime.date(2018, 10, 19),
 datetime.date(2018, 10, 20),
 datetime.date(2018, 10, 21),
 datetime.date(2018, 10, 22),
 datetime.date(2018, 10, 23),
 datetime.date(2018, 10, 24),
 datetime.date(2018, 10, 25),
 datetime.date(2018, 10, 26),
 datetime.date(2018, 10, 27),
 datetime.date(2018, 10, 28),
 datetime.date(2018, 10, 29),
 datetime.date(2018, 10, 30),
 datetime.date(2018, 10, 31),
 datetime.date(2018, 11, 1),
 datetime.date(2018, 11, 2),
 datetime.date(2018, 11, 3),
 datetime.date(2018, 11, 4),
 datetime.date(2018, 11, 5),
 datetime.date(2018, 11, 6),
 datetime.date(2018, 11, 7),
 datetime.date(2018, 11, 8),
 datetime.date(2018, 11, 9),
 datetime.date(2018, 11, 10),
 datetime.date(2018, 11, 11),
 datetime.date(2018, 11, 12),
 datetime.date(2018, 11, 13),
 datetime.date(2018, 11, 14),
 datetime.date(2018, 11, 15),
 datetime.date(2018, 11, 16),
 datetime.date(2018, 11, 17),
 datetime.date(2018, 11, 18),
 datetime.date(2018, 11, 19),
 datetime.date(2018, 11, 20),
 datetime.date(2018, 11, 21),
 datetime.date(2018, 11, 22),
 datetime.date(2018, 11, 23),
 datetime.date(2018, 11, 24),
 datetime.date(2018, 11, 25),
 datetime.date(2018, 11, 26),
 datetime.date(2018, 11, 27),
 datetime.date(2018, 11, 28),
 datetime.date(2018, 11, 29),
 datetime.date(2018, 11, 30),
 datetime.date(2018, 12, 1),
 datetime.date(2018, 12, 2),
 datetime.date(2018, 12, 3),
 datetime.date(2018, 12, 4),
 datetime.date(2018, 12, 5),
 datetime.date(2018, 12, 6),
 datetime.date(2018, 12, 7),
 datetime.date(2018, 12, 8),
 datetime.date(2018, 12, 9),
 datetime.date(2018, 12, 10),
 datetime.date(2018, 12, 11),
 datetime.date(2018, 12, 12),
 datetime.date(2018, 12, 13),
 datetime.date(2018, 12, 14),
 datetime.date(2018, 12, 15),
 datetime.date(2018, 12, 16),
 datetime.date(2018, 12, 17),
 datetime.date(2018, 12, 18),
 datetime.date(2018, 12, 19),
 datetime.date(2018, 12, 20),
 datetime.date(2018, 12, 21),
 datetime.date(2018, 12, 22),
 datetime.date(2018, 12, 23),
 datetime.date(2018, 12, 24),
 datetime.date(2018, 12, 25),
 datetime.date(2018, 12, 26),
 datetime.date(2018, 12, 27),
 datetime.date(2018, 12, 28),
 datetime.date(2018, 12, 29),
 datetime.date(2018, 12, 30),
 datetime.date(2018, 12, 31)]

In [64]:
len(_date)

309

In [94]:
type(mi.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [65]:
cho['date']=_date
mi['date']=_date

In [66]:
mi.head()

         date  no_pm10  jong_pm10  avg_pm10  label_pm10
0  2018-01-01     42.0       34.0      38.0           0
1  2018-01-02     41.0       36.0      38.5           0
2  2018-01-03     36.0       31.0      33.5           0
3  2018-01-04     47.0       39.0      43.0           0
4  2018-01-05     63.0       51.0      57.0           0

In [68]:
cho.head()

         date  no_pm2.5  jong_pm2.5  avg_pm2.5  label_pm2.5
0  2018-01-01      21.0        17.0       19.0            0
1  2018-01-02      22.0        22.0       22.0            0
2  2018-01-03      19.0        19.0       19.0            0
3  2018-01-04      26.0        24.0       25.0            0
4  2018-01-05      40.0        35.0       37.5           -1

In [67]:
len(mi)

309

In [57]:
len(cho)

309

## 데이트타임, 스탬프데이트 타임을 
## 통일 시키려면, astype('str')으로 바꿔주면 된다.

In [111]:
Cal.date = Cal.date.astype('str')

In [112]:
mi.date = mi.date.astype('str')

In [113]:
cho.date=cho.date.astype('str')

In [114]:
jono_m.date = jono_m.date.astype('str')

In [115]:
jono_c.date = jono_c.date.astype('str')

In [75]:
len(Mi)

365

In [123]:
len(final_mi)

421

In [160]:
final_mi=mi.append(jono_m)

In [161]:
final_cho=cho.append(jono_c)

In [162]:
final_mi=final_mi.sort_values('date')

In [163]:
final_cho=final_cho.sort_values('date')

In [164]:
final_mi.head(50)

    avg_pm10        date  jong_pm10  label_pm10  no_pm10
0       38.0  2018-01-01       34.0           0     42.0
1       38.5  2018-01-02       36.0           0     41.0
2       33.5  2018-01-03       31.0           0     36.0
3       43.0  2018-01-04       39.0           0     47.0
4       57.0  2018-01-05       51.0           0     63.0
5       43.5  2018-01-06       38.0           0     49.0
6       52.0  2018-01-07       47.0           0     57.0
7       55.0  2018-01-08       49.0           0     61.0
8       39.5  2018-01-09       37.0           0     42.0
9       30.5  2018-01-10       27.0           0     34.0
10      32.0  2018-01-11       30.0           0     34.0
11      23.0  2018-01-12       21.0           1     25.0
12      51.0  2018-01-13       48.0           0     54.0
13      70.5  2018-01-14       64.0           0     77.0
14      63.5  2018-01-15       63.0           0     64.0
15     105.5  2018-01-16       97.0          -1    114.0
16     102.5  2018-01-17       99.0          -1    106.0
17      82.0  2018-01-18       80.0          -1     84.0
18      54.0  2018-01-19       51.0           0     57.0
19      87.5  2018-01-20       86.0          -1     89.0
20      55.0  2018-01-21       52.0           0     58.0
21      42.0  2018-01-22       38.0           0     46.0
22      22.5  2018-01-23       21.0           1     24.0
23      27.5  2018-01-24       26.0           1     29.0
24      23.5  2018-01-25       22.0           1     25.0
25      31.0  2018-01-26       28.0           0     34.0
26      45.0  2018-01-27       37.0           0     53.0
27      31.5  2018-01-28       26.0           0     37.0
28      42.0  2018-01-29       39.0           0     45.0
29      41.0  2018-01-30       36.0           0     46.0
30      38.0  2018-01-31       35.0           0     41.0
31      36.5  2018-02-01       34.0           0     39.0
32      52.5  2018-02-02       48.0           0     57.0
33      36.0  2018-02-03       31.0           0     41.0
34      31.5  2018-02-04       27.0           0     36.0
35      25.5  2018-02-05       23.0           1     28.0
36      30.0  2018-02-06       27.0           1     33.0
37      37.5  2018-02-07       34.0           0     41.0
38      50.5  2018-02-08       45.0           0     56.0
39      68.0  2018-02-09       63.0           0     73.0
40      70.0  2018-02-10       66.0           0     74.0
41      48.0  2018-02-11       44.0           0     52.0
42      44.5  2018-02-12       41.0           0     48.0
43      47.5  2018-02-13       43.0           0     52.0
44      62.0  2018-02-14       59.0           0     65.0
45      35.0  2018-02-15       32.0           0     38.0
46      43.5  2018-02-16       41.0           0     46.0
0       29.5  2018-02-17       47.0           1     47.0
47      34.5  2018-02-18       30.0           0     39.0
48      55.0  2018-02-19       51.0           0     59.0

In [165]:
final_cho.head(50)

    avg_pm2.5        date  jong_pm2.5  label_pm2.5  no_pm2.5
0        19.0  2018-01-01        17.0            0      21.0
1        22.0  2018-01-02        22.0            0      22.0
2        19.0  2018-01-03        19.0            0      19.0
3        25.0  2018-01-04        24.0            0      26.0
4        37.5  2018-01-05        35.0           -1      40.0
5        29.0  2018-01-06        27.0            0      31.0
6        37.5  2018-01-07        36.0           -1      39.0
7        40.0  2018-01-08        37.0           -1      43.0
8        19.5  2018-01-09        19.0            0      20.0
9        13.0  2018-01-10        13.0            1      13.0
10       22.0  2018-01-11        22.0            0      22.0
11       14.5  2018-01-12        14.0            1      15.0
12       37.0  2018-01-13        37.0           -1      37.0
13       53.5  2018-01-14        50.0           -1      57.0
14       43.5  2018-01-15        45.0           -1      42.0
15       77.5  2018-01-16        74.0           -1      81.0
16       78.5  2018-01-17        78.0           -1      79.0
17       55.0  2018-01-18        56.0           -1      54.0
18       27.5  2018-01-19        28.0            0      27.0
19       54.5  2018-01-20        56.0           -1      53.0
20       32.5  2018-01-21        33.0            0      32.0
21       22.0  2018-01-22        21.0            0      23.0
22       11.5  2018-01-23        12.0            1      11.0
23       10.0  2018-01-24        10.0            1      10.0
24       12.0  2018-01-25        12.0            1      12.0
25       19.0  2018-01-26        18.0            0      20.0
26       23.5  2018-01-27        26.0            0      21.0
27       19.0  2018-01-28        17.0            0      21.0
28       17.5  2018-01-29        16.0            0      19.0
29       22.5  2018-01-30        20.0            0      25.0
30       19.0  2018-01-31        18.0            0      20.0
31       21.0  2018-02-01        21.0            0      21.0
32       33.0  2018-02-02        32.0            0      34.0
33       20.5  2018-02-03        19.0            0      22.0
34       21.5  2018-02-04        20.0            0      23.0
35       15.0  2018-02-05        14.0            1      16.0
36       18.5  2018-02-06        17.0            0      20.0
37       24.5  2018-02-07        23.0            0      26.0
38       35.0  2018-02-08        32.0            0      38.0
39       50.0  2018-02-09        48.0           -1      52.0
40       40.5  2018-02-10        39.0           -1      42.0
41       14.0  2018-02-11        13.0            1      15.0
42       14.0  2018-02-12        13.0            1      15.0
43       16.5  2018-02-13        14.0            0      19.0
44       28.0  2018-02-14        27.0            0      29.0
45       14.5  2018-02-15        14.0            1      15.0
46       16.0  2018-02-16        16.0            0      16.0
0        29.5  2018-02-17        12.0            0      12.0
47       15.5  2018-02-18        14.0            0      17.0
48       35.0  2018-02-19        33.0            0      37.0

##  sort_values('date') 하면, str으로 저장된 date도 다 순서대로 정렬해준다...개신기...!!

In [156]:
type(final_cho['date'][0])

pandas.core.series.Series

In [158]:
final_cho['no_pm2.5'][0]

0    21.0
0    12.0
Name: no_pm2.5, dtype: float64

In [157]:
final_cho['date'][0]

0    2018-01-01
0    2018-02-17
Name: date, dtype: object

In [153]:
final_cho.head(50)

    avg_pm2.5        date  jong_pm2.5  label_pm2.5  no_pm2.5
0        19.0  2018-01-01        17.0            0      21.0
1        22.0  2018-01-02        22.0            0      22.0
2        19.0  2018-01-03        19.0            0      19.0
3        25.0  2018-01-04        24.0            0      26.0
4        37.5  2018-01-05        35.0           -1      40.0
5        29.0  2018-01-06        27.0            0      31.0
6        37.5  2018-01-07        36.0           -1      39.0
7        40.0  2018-01-08        37.0           -1      43.0
8        19.5  2018-01-09        19.0            0      20.0
9        13.0  2018-01-10        13.0            1      13.0
10       22.0  2018-01-11        22.0            0      22.0
11       14.5  2018-01-12        14.0            1      15.0
12       37.0  2018-01-13        37.0           -1      37.0
13       53.5  2018-01-14        50.0           -1      57.0
14       43.5  2018-01-15        45.0           -1      42.0
15       77.5  2018-01-16        74.0           -1      81.0
16       78.5  2018-01-17        78.0           -1      79.0
17       55.0  2018-01-18        56.0           -1      54.0
18       27.5  2018-01-19        28.0            0      27.0
19       54.5  2018-01-20        56.0           -1      53.0
20       32.5  2018-01-21        33.0            0      32.0
21       22.0  2018-01-22        21.0            0      23.0
22       11.5  2018-01-23        12.0            1      11.0
23       10.0  2018-01-24        10.0            1      10.0
24       12.0  2018-01-25        12.0            1      12.0
25       19.0  2018-01-26        18.0            0      20.0
26       23.5  2018-01-27        26.0            0      21.0
27       19.0  2018-01-28        17.0            0      21.0
28       17.5  2018-01-29        16.0            0      19.0
29       22.5  2018-01-30        20.0            0      25.0
30       19.0  2018-01-31        18.0            0      20.0
31       21.0  2018-02-01        21.0            0      21.0
32       33.0  2018-02-02        32.0            0      34.0
33       20.5  2018-02-03        19.0            0      22.0
34       21.5  2018-02-04        20.0            0      23.0
35       15.0  2018-02-05        14.0            1      16.0
36       18.5  2018-02-06        17.0            0      20.0
37       24.5  2018-02-07        23.0            0      26.0
38       35.0  2018-02-08        32.0            0      38.0
39       50.0  2018-02-09        48.0           -1      52.0
40       40.5  2018-02-10        39.0           -1      42.0
41       14.0  2018-02-11        13.0            1      15.0
42       14.0  2018-02-12        13.0            1      15.0
43       16.5  2018-02-13        14.0            0      19.0
44       28.0  2018-02-14        27.0            0      29.0
45       14.5  2018-02-15        14.0            1      15.0
46       16.0  2018-02-16        16.0            0      16.0
0        29.5  2018-02-17        12.0            0      12.0
47       15.5  2018-02-18        14.0            0      17.0
48       35.0  2018-02-19        33.0            0      37.0

In [147]:
cho

           date  no_pm2.5  jong_pm2.5  avg_pm2.5  label_pm2.5
0    2018-01-01      21.0        17.0       19.0            0
1    2018-01-02      22.0        22.0       22.0            0
2    2018-01-03      19.0        19.0       19.0            0
3    2018-01-04      26.0        24.0       25.0            0
4    2018-01-05      40.0        35.0       37.5           -1
5    2018-01-06      31.0        27.0       29.0            0
6    2018-01-07      39.0        36.0       37.5           -1
7    2018-01-08      43.0        37.0       40.0           -1
8    2018-01-09      20.0        19.0       19.5            0
9    2018-01-10      13.0        13.0       13.0            1
10   2018-01-11      22.0        22.0       22.0            0
11   2018-01-12      15.0        14.0       14.5            1
12   2018-01-13      37.0        37.0       37.0           -1
13   2018-01-14      57.0        50.0       53.5           -1
14   2018-01-15      42.0        45.0       43.5           -1
15   2018-01-16      81.0        74.0       77.5           -1
16   2018-01-17      79.0        78.0       78.5           -1
17   2018-01-18      54.0        56.0       55.0           -1
18   2018-01-19      27.0        28.0       27.5            0
19   2018-01-20      53.0        56.0       54.5           -1
20   2018-01-21      32.0        33.0       32.5            0
21   2018-01-22      23.0        21.0       22.0            0
22   2018-01-23      11.0        12.0       11.5            1
23   2018-01-24      10.0        10.0       10.0            1
24   2018-01-25      12.0        12.0       12.0            1
25   2018-01-26      20.0        18.0       19.0            0
26   2018-01-27      21.0        26.0       23.5            0
27   2018-01-28      21.0        17.0       19.0            0
28   2018-01-29      19.0        16.0       17.5            0
29   2018-01-30      25.0        20.0       22.5            0
..          ...       ...         ...        ...          ...
279  2018-12-02      29.0        23.0       26.0            0
280  2018-12-03      24.0        21.0       22.5            0
281  2018-12-04      15.0        15.0       15.0            1
282  2018-12-05      14.0        11.0       12.5            1
283  2018-12-06      19.0        16.0       17.5            0
284  2018-12-07      10.0         9.0        9.5            1
285  2018-12-08      10.0         9.0        9.5            1
286  2018-12-09      13.0        10.0       11.5            1
287  2018-12-10      20.0        18.0       19.0            0
288  2018-12-11      26.0        25.0       25.5            0
289  2018-12-12      23.0        23.0       23.0            0
290  2018-12-13      22.0        23.0       22.5            0
291  2018-12-14      19.0        17.0       18.0            0
292  2018-12-15      38.0        37.0       37.5           -1
293  2018-12-16      38.0        39.0       38.5           -1
294  2018-12-17      44.0        45.0       44.5           -1
295  2018-12-18      29.0        23.0       26.0            0
296  2018-12-19      32.0        28.0       30.0            0
297  2018-12-20      47.0        37.0       42.0           -1
298  2018-12-21      50.0        44.0       47.0           -1
299  2018-12-22      66.0        56.0       61.0           -1
300  2018-12-23      35.0        27.0       31.0            0
301  2018-12-24      15.0        11.0       13.0            1
302  2018-12-25      24.0        20.0       22.0            0
303  2018-12-26      29.0        26.0       27.5            0
304  2018-12-27      13.0         9.0       11.0            1
305  2018-12-28      15.0        13.0       14.0            1
306  2018-12-29      13.0         9.0       11.0            1
307  2018-12-30      22.0        15.0       18.5            0
308  2018-12-31      37.0        29.0       33.0            0

[309 rows x 5 columns]

In [102]:
Merge=pd.read_csv('Merge.csv')

In [106]:
Merge.head(70)

,Unnamed: 0,date,jong_pm10,no_pm10,avg_pm10,label_pm10,jong_pm2.5,no_pm2.5,avg_pm2.5,label_pm2.5
0,0,2018-01-01,34.0,42.0,38.000000,0,17.0,21.0,19.0,0
1,1,2018-01-02,36.0,41.0,38.500000,0,22.0,22.0,22.0,0
2,2,2018-01-03,31.0,36.0,33.500000,0,19.0,19.0,19.0,0
3,3,2018-01-04,39.0,47.0,43.000000,0,24.0,26.0,25.0,0
4,4,2018-01-05,51.0,63.0,57.000000,0,35.0,40.0,37.5,-1
5,5,2018-01-06,38.0,49.0,43.500000,0,27.0,31.0,29.0,0
6,6,2018-01-07,47.0,57.0,52.000000,0,36.0,39.0,37.5,-1
7,7,2018-01-08,49.0,61.0,55.000000,0,37.0,43.0,40.0,-1
8,8,2018-01-09,37.0,42.0,39.500000,0,19.0,20.0,19.5,0
9,9,2018-01-10,27.0,34.0,30.500000,0,13.0,13.0,13.0,1
10,10,2018-01-11,30.0,34.0,32.000000,0,22.0,22.0,22.0,0
11,11,2018-01-12,21.0,25.0,23.000000,1,14.0,15.0,14.5,1
12,12,2018-01-13,48.0,54.0,51.000000,0,37.0,37.0,37.0,-1
13,13,2018-01-14,64.0,77.0,70.500000,0,50.0,57.0,53.5,-1
14,14,2018-01-15,63.0,64.0,63.500000,0,45.0,42.0,43.5,-1
15,15,2018-01-16,97.0,114.0,105.500000,-1,74.0,81.0,77.5,-1
16,16,2018-01-17,99.0,106.0,102.500000,-1,78.0,79.0,78.5,-1
17,17,2018-01-18,80.0,84.0,82.000000,-1,56.0,54.0,55.0,-1
18,18,2018-01-19,51.0,57.0,54.000000,0,28.0,27.0,27.5,0
19,19,2018-01-20,86.0,89.0,87.500000,-1,56.0,53.0,54.5,-1
20,20,2018-01-21,52.0,58.0,55.000000,0,33.0,32.0,32.5,0
21,21,2018-01-22,38.0,46.0,42.000000,0,21.0,23.0,22.0,0
22,22,2018-01-23,21.0,24.0,22.500000,1,12.0,11.0,11.5,1
23,23,2018-01-24,26.0,29.0,27.500000,1,10.0,10.0,10.0,1
24,24,2018-01-25,22.0,25.0,23.500000,1,12.0,12.0,12.0,1
25,25,2018-01-26,28.0,34.0,31.000000,0,18.0,20.0,19.0,0
26,26,2018-01-27,37.0,53.0,45.000000,0,26.0,21.0,23.5,0
27,27,2018-01-28,26.0,37.0,31.500000,0,17.0,21.0,19.0,0
28,28,2018-01-29,39.0,45.0,42.000000,0,16.0,19.0,17.5,0
29,29,2018-01-30,36.0,46.0,41.000000,0,20.0,25.0,22.5,0
...,...,...,...,...,...,...,...,...,...,...
40,40,2018-02-10,66.0,74.0,70.000000,0,39.0,42.0,40.5,-1
41,41,2018-02-11,44.0,52.0,48.000000,0,13.0,15.0,14.0,1
42,42,2018-02-12,41.0,48.0,44.500000,0,13.0,15.0,14.0,1
43,43,2018-02-13,43.0,52.0,47.500000,0,14.0,19.0,16.5,0
44,44,2018-02-14,59.0,65.0,62.000000,0,27.0,29.0,28.0,0
45,45,2018-02-15,32.0,38.0,35.000000,0,14.0,15.0,14.5,1
46,46,2018-02-16,41.0,46.0,43.500000,0,16.0,16.0,16.0,0
47,47,2018-02-17,42.0,47.0,42.638889,0,10.0,12.0,11.0,1
48,48,2018-02-18,30.0,39.0,34.500000,0,14.0,17.0,15.5,0
49,49,2018-02-19,51.0,59.0,55.000000,0,33.0,37.0,35.0,0
50,50,2018-02-20,51.0,62.0,56.500000,0,32.0,38.0,35.0,0
51,51,2018-02-21,32.0,38.0,35.000000,0,17.0,18.0,17.5,0
52,52,2018-02-22,42.0,48.0,45.000000,0,25.0,28.0,26.5,0
53,53,2018-02-23,79.0,86.0,82.500000,-1,55.0,62.0,58.5,-1
54,54,2018-02-24,68.0,73.0,70.500000,0,47.0,49.0,48.0,-1
55,55,2018-02-25,36.0,45.0,40.500000,0,25.0,29.0,27.0,0
56,56,2018-02-26,55.0,62.0,58.500000,0,36.0,39.0,37.5,-1
57,57,2018-02-27,82.0,99.0,90.500000,-1,55.0,64.0,59.5,-1
58,58,2018-02-28,67.0,76.0,71.500000,0,43.0,48.0,45.5,-1
59,59,2018-03-01,35.0,41.0,38.000000,0,26.0,27.0,26.5,0
60,60,2018-03-02,58.0,69.0,63.500000,0,24.0,29.0,26.5,0
61,61,2018-03-03,52.0,57.0,54.500000,0,26.0,27.0,26.5,0
62,62,2018-03-04,28.0,29.0,28.500000,1,19.0,19.0,19.0,0
63,63,2018-03-05,8.0,10.0,9.000000,1,5.0,5.0,5.0,1
64,64,2018-03-06,26.0,33.0,29.500000,1,15.0,18.0,16.5,0
65,65,2018-03-07,25.0,29.0,27.000000,1,14.0,16.0,15.0,1
66,66,2018-03-08,29.0,34.0,31.500000,0,23.0,26.0,24.5,0
67,67,2018-03-09,41.0,45.0,43.000000,0,31.0,32.0,31.5,0
68,68,2018-03-10,43.0,53.0,48.000000,0,31.0,36.0,33.5,0
69,69,2018-03-11,52.0,64.0,58.000000,0,35.0,42.0,38.5,-1

In [108]:
Merge.loc[0][3]

42.0

In [3]:
no_date={
 '20180217':[47,12],
 '20180321':[17,7],
 '20180322':[44,25],
 '20180323':[75,51],
 '20180324':[115,84],
 '20180325':[115,89],
 '20180326':[104,69],
 '20180327':[89,52],
 '20180328':[59,37],
 '20180329':[60,37],
 '20180330':[59,31],
 '20180331':[57,29],
 '20180401':[65,32],
 '20180402':[66,26],
 '20180403':[64,20],
 '20180404':[13,6],
 '20180405':[8,4],
 '20180406':[115,24],
 '20180407':[48,23],
 '20180408':[29,14],
 '20180420':[94,46],
 '20180518':[13,4],
 '20180519':[12,4],
 '20180522':[37,21],
 '20180523':[41,8],
 '20180524':[86,21],
 '20180525':[83,28],
 '20180526':[66,29],
 '20180529':[38,22],
 '20180530':[40,18],
 '20180531':[35,17],
 '20180603':[30,17],
 '20180606':[42,27],
 '20180607':[40,25],
 '20180608':[32,19],
 '20180609':[31,18],
 '20180610':[9,4],
 '20180611':[12,4],
 '20180612':[16,7],
 '20180613':[28,17],
 '20180614':[28,17],
 '20180615':[15,6],
 '20180616':[19,10],
 '20180617':[40,23],
 '20180618':[40,25],
 '20180619':[39,25],
 '20180620':[38,26],
 '20180621':[32,19],
 '20180623':[38,21],
 '20180624':[55,34],
 '20180625':[50,32],
 '20180627':[28,18],
 '20180628':[25,14],
 '20180629':[36,22],
 '20180704':[20,14],
 '20180705':[20,14]
        }

In [4]:
jong_date={
 '20180217':[42,10],
 '20180321':[13,6],
 '20180322':[39,24],
 '20180323':[61,45],
 '20180324':[104,77],
 '20180325':[115,87],
 '20180326':[105,66],
 '20180327':[84,50],
 '20180328':[50,32],
 '20180329':[53,34],
 '20180330':[56,32],
 '20180331':[50,26],
 '20180401':[58,27],
 '20180402':[60,24],
 '20180403':[59,17],
 '20180404':[11,5],
 '20180405':[6,4],
 '20180406':[99,20],
 '20180407':[42,20],
 '20180408':[22,12],
 '20180420':[91,46],
 '20180518':[10,4],
 '20180519':[9,4],
 '20180522':[30,19],
 '20180523':[37,9],
 '20180524':[85,20],
 '20180525':[83,30],
 '20180526':[72,35],
 '20180529':[35,23],
 '20180530':[38,23],
 '20180531':[38,21],
 '20180603':[28,19],
 '20180606':[40,28],
 '20180607':[39,25],
 '20180608':[29,19],
 '20180609':[32,20],
 '20180610':[7,4],
 '20180611':[11,5],
 '20180612':[14,8],
 '20180613':[26,17],
 '20180614':[25,16],
 '20180615':[12,7],
 '20180616':[19,10],
 '20180617':[41,26],
 '20180618':[36,24],
 '20180619':[35,23],
 '20180620':[36,24],
 '20180621':[31,20],
 '20180623':[34,20],
 '20180624':[51,31],
 '20180625':[50,29],
 '20180627':[24,16],
 '20180628':[21,14],
 '20180629':[33,25],
 '20180704':[21,15],
 '20180705':[16,15]
}